<div class="dashboard_container">
    <div class="card_container">
        <div class="card_data">
            <div class="icon_container"></div>
            <label class="label_card_data" for="">Clientes Activos</label>
            <strong class="card_result"><p class="number_data active_clients"></p></strong></div>
        <div class="card_data">
            <div class="icon_container"></div>
            <label class="label_card_data"  for="">Inactivos</label>
            <strong class="card_result">
                <p class="number_data inactive_clients " ></p></strong>
            </div>
        <div class="card_data">
            <div class="icon_container">
            </div>
            <label class="label_card_data" for="">Empleados</label>
            <strong class="card_result">
                <p class="number_data total_employees"></p>
            </strong>
            </div>
        <div class="card_data">
            <div class="icon_container"></div>
            <label class="label_card_data"  for="">Vencen Hoy</label>
            <strong class="card_result">
                <p class="number_data expiring_membership"></p>
            </strong>
        </div>
    </div>
    <div class="bottom_data_container">
        <div class="alerts_container">
            <div class="critical_alert_container">
                <div class="alert_upper_data">
                    <article class="alert_title"><strong>Alertas Criticas: <span>Expirado</span></strong></article>
                    <span class="card_status">Atención Urgente</span>
                </div>

            </div>

            <div class="expiring_alerts">
                <div class="alert_upper_data">
                    <article class="alert_title"><strong>Expira Pronto</strong></article>
                    <span class="time_window">Ventana: 5 días</span>
                </div>

            </div>
        </div>
        <div class="command_center">
            <span class="command_title"><strong>CENTRO DE ACCIONES</strong></span>
            <button class="command_button btn_regist_client"><strong>REGISTRAR CLIENTE</strong></button>
            <button class="command_button btn_regist_employee"><strong>REGISTRAR EMPLEADO</strong></button>
            <button class="command_button btn_regist_membership"><strong>ASIGNAR MEMBRESÍA</strong></button>
        </div>
    </div>
    
    
</div>