
#main_content{
    width: 100%;
}
.frame_list_container{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.frame_list_container h3{
    color: #fff;
    
}
.list_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row: 10px;
    width: 1200px;
}
.list_actions{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.searchbar_container{
    display: flex;
    background-color: #12122085;
    padding: 4px;
    border-radius: 8px;
    
}
.searchbar_field{
    color: #fff;
    background-color: #12122099;
    width: 400px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    border-top-right-radius: 0 ;
    border-bottom-right-radius: 0;
}
.search_button{
    color: #fff;
    padding: 10px;
    border: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #12122099;
    background-image: url("/assets/icons/lupa.png");
    
    &:hover{
        background-color: #12337519;
        
    }
}


img{
    filter: invert();
    width: 12px;
    height: 10px;
    
}
.add_client, .add_employee, .add_membershipType, .add_membership{
    color: #fff;
    background-color: #12122099 ;
    border: none;
    border-radius: 8px;
    width: 120px;
    
    &:hover{
        background-color: #2C2C2C;
    }
}
.add_membershipType{
    width: 150px;
}
.list{
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    height: 600px;
    width: 1200px;
    border-radius: 4px;
}
.memberships_table{
    border-collapse: collapse;
    
}
.header_row{
    border-left: 5px solid #2C2C2C;
    border-right: 5px solid #2C2C2C;
}
.header_row th{
    color: #A9A9A9;
}
.head_data{
    padding: 15px;
    background-color:#2C2C2C;
    width: 100px;
}

.data_table{
    padding: 3px;
    color: #fff;
}
.data-row{
    height: 50px;
    text-align: center;
    color: #FF6F61;
    border: 5px solid #2C2C2C;
}

/*For membershipList*/
.btn_action_management{
    width: 150px;
    color: #FF6F61;
    padding: 10px;
    background-color: #12122099;
    border: none;
    border-radius: 2px;
    
    &:hover{
        background-color: #2C2C6C;
    }
}

/*for general lists*/
.btn_action{ 
    border: none;
    border-radius: 3px;
}

.btn_action.view_data{
    color: #FF6F61;
    background-color: #12122099;
}
.btn_action.edit_data{
    background-color: #90EE90;
}
.btn_action.delete_data,.btn_action.disable_data{
    background-color: #FF0000;
}

.btn_action.view_data:hover{
    background-color: #49e;
}
.btn_action.edit_data:hover{
    background-color: #90EE9999;
}
.btn_action.delete_data:hover, .btn_action.disable_data:hover{
    background-color: #FF0000aa;
}
.actions{
    display: flex;
    flex-direction: row;
    column-gap: 2px;
    justify-content: center;
    align-items: center;
}
.actions i {  
  margin: 0 8px;
  cursor: pointer;
  transition: transform 0.2s ease;
  color: #fff;
}

.actions i:hover {
  transform: scale(1.2);
  color: #2C2C2C;
}



/*Container change page buttons*/

.container_button_change{
    display: flex;
    flex-direction: row;
    column-gap: 4px;
    padding: 10px;
}
.btn_numbers{
    display: flex;
    flex-direction: row;
    column-gap: 2px;
}
.btn_page{
    background-color: #2C2C2C;
    color:#FF6F61;
    border-radius: 2px;
}