
    <form class="form" id="form_membership">
      <h2>GESTIONAR MEMBRESÍA</h2>
      <div class="input_data_container_membership">
        <div class="card_client_container">
          <div class="client_photo"> 
            AQUI VA LA FOTO
          </div>
          <div class="client_data_container">
            
          </div>
          <div class="current_membership_data_container"></div>
        </div>

        <div class="card_membership_data_container">
          <div class="container_membership_data">
            <p class="membership_title">Datos membresía</p>
            <div class="action_container">
              <div class="membership_field_container plan_field">
                <label class="membership_label" for="membership_type">Seleccionar plan</label>
                <select class="field_data select_type_membership" name="mebership_types" id="membership_type">
                  <option value="memType0" class="options">Elegir plan</option>
                </select>
                <p class="error" id="membership_type_error"></p>
              </div>

              <div class="membership_field_container regist_type_field">
                  <label class="membership_label" for="membership_type">Tipo de Registro</label>
                <div class="button_option_container">
                  <button class="btn_option first_time">Primera vez</button>
                  <button class="btn_option renovate">Renovación</button>
                  <button class="btn_option change_plan">Cambiar Plan</button>
                </div>
              </div>
              <div class="membership_field_container init_date_field">
                <label class="membership_label" for="membership_type">Fecha Inicio</label>
                <input class="field_data membership_init_date" type="date" id="init_date">
                <p class="error" id="init_date_error"></p>
              </div>
              <div class="membership_field_container end_date_field">
                <label class="membership_label" for="membership_type">Fecha Fin</label>
                <p class="membership_end_date"></p>
              </div>
            </div>
            <button class="confirm_subscription"><strong>CONFIRMAR INSCRIPCIÓN</strong></button>
          </div>
          <div class="disable_membership_container">
            <p class="disable_title">Aréa de Terminación</p>
            <p class="disable_description">Al anular la membresía todos los accesos y beneficios concedios por la misma serán revocados.</p>
            <button class="disable_button">Anular Membresía</button>
          </div>
        </div>

        <div class="history_table_container">
          <table class="history_table">
            <caption class="table_title"><strong>HISTORIAL DE MEBRESÍAS</strong></caption>
            <thead class="thead_history">
              <tr class="history_header" >
                <th class="history_data">NOMBRE PLAN</th>
                <th class="history_data">FECHA INICIO</th>
                <th class="history_data">FECHA FIN</th>
                <th class="history_data">ESTADO</th>
              </tr>
            </thead>
          <tbody class="tbody_container">
          </tbody>
          </table>
          
        </div>

       <div class="dialog-container">
          <dialog id="alert-dialog">
            <h3>Confirmar Registro</h3>
            <div class="button_container_modal">
              <button type="button" id="close_modal" class="btn_submit_modal cancel">Cerrar</button>
              <button id="modal_submit" class="btn_submit_modal confirm">Confirmar</button>
            </div>
         </dialog>
        </div>
      </div>
      <div class="toast_container"></div>
    </form>
