
    <div class="container_btn">
        <button data-route="/login" class="btn_init_log">Iniciar sesion</button>
    </div>
    <div class="feature_container">
        <form class="login_container">
            <h3>Registrar Usuario</h3>
            <div class="input_container">
              <label class="label_user">Rol</label>
              <select class="field_role" id="role">
                <option value="0" class="role_option">Administrador</option>
                <option value="1" class="role_option">Empleado</option>
              </select>
            </div>
            <div class="input_container">
              <label  class="label_user">Email</label>
              <select class="field_role" id="email">
                <option value="" class="email">ejempli@gmail.com</option>
              </select>
            </div>
            <div class="input_container">
              <label class="label_user">Contraseña</label>
              <input placeholder="************" type="password" id="pass" class="field_user"/>
            </div>
            <button class="btn submit_button">Iniciar Sesión</button>
            <a href="">Iniciar Sesión</a>
          </form>
    </div>
